@font-face {
	font-family: Roboto-Light;
	src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: Roboto-Bold;
	src: url("../fonts/Roboto-Bold.ttf");
}

/*.slideDown {*/
	/*visibility: hidden;*/
/*}*/
.slideDown {
	animation-name: mySlideDown;
	-webkit-animation-name: mySlideDown;
	animation-duration: 0.9s;
	-webkit-animation-duration: 0.9s;
	animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	visibility: visible !important;
}

/*.slideUp {*/
	/*visibility: visible;*/
/*}*/
.slideUp {
	animation-name: mySlideUp;
	-webkit-animation-name: mySlideUp;
	animation-duration: 0.9s;
	-webkit-animation-duration: 0.9s;
	animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	visibility: visible !important;
}

@keyframes mySlideDown{0%{font-size: 0px}100%{font-size: 13px}}
@-webkit-keyframes mySlideDown{0%{font-size: 0px}100%{font-size: 13px}}

@keyframes mySlideUp{0%{font-size: 13px}100%{font-size: 0px}}
@-webkit-keyframes mySlideUp{0%{font-size: 13px}100%{font-size: 0px}}

* {
	margin: 0;
	padding: 0;
	font-family: Roboto-Bold, Arial, Verdana;
	font-size: 12pt;
	outline: none;
}

.simple-text {
	font-family: Roboto-Light, Arial, Verdana;
}


.display-none {
	display: none;	
}

td, p {
	font-family: Roboto-Light, Arial, Verdana;
}

body {
	/*margin-top: 104px !important;
	margin-bottom: 60px !important;*/
}

.footer {
	position: relative;
	bottom: 0;
	/* Set the fixed height of the footer here */
	height: 60px;
	border-top: 2px double  #a00d04;
}

.footer * {
	color: #a00d04;
}

.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

@media screen and (min-width: 1200px) {
	.fill {
		height: 104px;
		width: 104px;
		margin-top: -15px;
	}
}

@media screen and (min-width: 993px) {
	.fill {
		height: 104px;
		width: 104px;
	}
}

@media screen and (max-width: 992px) {
	.fill {
		height: 50px;
		width: 50px;
		margin-top: -15px;
	}
}

.fill {
	border-radius: 50%;
	background: rgba(255, 100, 100, 0.5);
	overflow: visible;
	position: relative;
}

.fill > img {
	height: 95%;
	position: absolute;
	left: -10%;
	transition: 0.3s 0s ease-out; 
}

.fill > img:hover {
	transform: scale(1.05);
}

.nav-icon {
	color: #fff;
	font-size: 32px;
	padding-right: 5px;
}

.nav-info {
	padding-bottom: 17px;
	padding-top: 17px;
	margin: 0px;
}

.nav-text,
.nav-text a {
	color: #E8A058;
	font-size: 14pt;
	font-weight: bold;
	font-family: Roboto-Bold, Arial, Verdana;
	margin: 0px;
}

.nav-details,
.nav-details a {
	color: #fff;
	font-size: 12pt;
	font-weight: bold;
	font-family: Roboto-Bold, Arial, Verdana;
	margin: 0px;
}

.nav-details a:hover {
	color: #fff;
}

.news {
	height: 375px;
}

.img-holder {
	position: relative;
	height: 375px;
	background: rgba(255, 255,255 ,0) linear-gradient(to left, rgba(255, 255,255 ,0) 70% , #fff 100%);
}

.carousel-news-img {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(20px, -50%);
	max-height: 375px;
	z-index: -1;
}

.news-img {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	max-height: 200px;
	max-width: 200px;
}

.carousel-caption h1 {
	color: #ff0f0f;
}

.carousel-caption p {
	color: #222;
}

.page-name {
	background: #0f0f0f linear-gradient(to bottom, #3c3c3c 0, #222 100%);
	color: #fff;
	text-align: center;
	font-size: 18pt;
	padding-top: 12px;
	padding-bottom: 12px;
	margin: 0 -15px;
	margin-bottom: 15px;
}

.sokur-pagination {
	margin: 0 auto;
	text-align: center;
}

.sokur-pagination > li {
	display: inline-block;
	list-style-type: none;
	border: 1px solid #ccc;
	background-color: rgba(232, 179, 126, 0.3);
	min-width: 36px;
}

.sokur-pagination > li.disabled {
	padding: 6px 3px;
}

.sokur-pagination > li > a {
	display: inline-block;
	min-width: inherit;
	padding: 6px 3px;
	text-align: center;
	transition: 1s;
	color: #ff4b4b;
	text-decoration: none;
}

.sokur-pagination > li.active {
	background: #A00D04;
	color: #fff;
	border: 1px solid #A00D04;
	padding: 6px 3px;
}

#search [type='text'] {
	border: 2px solid #0f0f0f;
}

#search [type='submit'] {
	background: #0f0f0f linear-gradient(to bottom, #3c3c3c 0, #222 100%);
	color: #fff;
}

#categories_menu {
	margin-left: 20px;
	margin-right: 20px;
}

#command-bar {
	/*padding-top: 15px;*/
	padding-bottom: 15px;
	border-bottom: 1px solid #979797;
}


.padding-lr-20 {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

div.category-item {
	margin-top: 30px;
	margin-bottom: 30px;
}

div.good-item {
	margin-top: 6px;
	margin-bottom: 6px;
	height: 350px;
	position: relative;
	overflow: hidden;
}

div.good-item,
div.category-item,
div.news-item {
	/*border: 2px solid #979797;*/
	box-shadow: 0px 0px 6px #979797;
	transition: 0.3s;
}

div.news-item.cms {
	max-height: 400px;
}

div.news-item {
	max-height: 350px;
}

div.good-item:hover, div.good-item:focus,
div.category-item:hover, div.category-item:focus,
div.news-item:hover, div.news-item:focus {
	/*border: 2px solid #ff4b4b;*/
	box-shadow: 0px 0px 12px #ff4b4b;
}

div.good-item:hover .good-info, div.good-item:focus .good-info {
	bottom: 0px;
}

div.category-item:hover {
	cursor: pointer;
}

.category-icon,
.news-icon {
	image-rendering: optimize-contrast;
	width: auto;
	height: 200px;
	overflow: hidden;
}

.cart-good-icon
{
	image-rendering: optimize-contrast;
	width: auto;
	max-height: 150px;
	max-width: 150px;
	overflow: hidden;
}

.cart-good-icon img {
	max-height: inherit;
	max-width: inherit;
}

.good-info, .category-name {
	border-top: 1px solid #979797;
}

.cart-good-icon {
	border: 2px solid #979797;
}

.category-icon img,
.news-icon img {
	max-height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.category-info {
	min-height: 40px;
}

.category-info:hover {
	min-height: 40px;
}

.cart-good,
.good-name,
.category-name {
	font-size: 18pt;
	color: #ff4b4b;
	text-align: center;
	padding-top: 6px;
}

.cart-good > p,
.good-name > p,
.category-name > p {
	font-weight: bold;
	font-family: Roboto-Bold, Arial, Verdana;
}

.good-info {
	padding: 0 12px 6px 12px;
	position: absolute;
	bottom: -40px;
	background: #fff;
	transition: 0.5s;
	width: 100%;
	height: 200px;
}

.good-description {
	height: 160px;
	overflow: hidden;
}

.good-description:hover {
	max-height: none;
	overflow: visible;
	background: #fff;
	z-index: 10;
}

.good-control {
	bottom: 0px;
}

div.category-item:hover .category-name {
	color: #fff;
}

div.category-item:hover .category-info {
	background: #ff4b4b;
}

.cart-good-description {
	font-size: 11pt;
	color: #000;
	font-family: Roboto-Light, Arial, Verdana;
	margin: 0 0 6px;
}

.btn-squared,
.btn-main {
	/*background: #ff4b4b !important;*/
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	background: #ff4b4b linear-gradient(to bottom, rgba(255, 163, 152, 1) 0, #d24a43 100%);
	border-color: #ff4b4b;
	color: #fff;
}

.btn-buy {
	/*background: #ff4b4b !important;*/
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	background: #ffbe39 linear-gradient(to bottom, rgba(255, 163, 152, 1) 0, #ffac1b 100%);
	border-color: #ff4b4b;
	color: #fff;
}

.btn-main {
	padding: 5px 30px !important;
}

.btn-buy {
	padding: 5px 22px !important;
}

#search [type='submit']:hover,
.btn-buy:hover,
.btn-main:hover,
#search [type='submit']:focus,
.btn-buy:focus,
.btn-main:focus {
	color: #faedc7 !important;
}

.amount {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.part-header {
	background: #d24a43 linear-gradient(to bottom, #ff5750 0, #ff4b4b 100%);
	color: #fff;
	font-size: 18pt;
	text-transform: uppercase;
	text-align: center;
}

.table-caption {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #000;
}

.cart-form {
	border: 1px solid #000;
	padding: 15px;
	margin: 10px;
}

.amtsel {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9999;
	background: #FFF;
	text-align: center;
	width: 100%;
}

.amt {
	font-size: 13px;
	width: 50%;
}

.amt:nth-child(2n) {
	float: right;
}

.amt:nth-child(2n+1) {
	float: left;
}

.amt:hover {
	background: rgba( 111, 111, 111, 0.5);
	color: #FFFBD6;
}

li.menu-category {
	position: relative;
	width: 100%;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

li.menu-category > .edit {
	display: none;
}

li.menu-category.level-1 {
	text-transform: uppercase;
}

li.menu-category.level-2,
li.menu-category.level-3,
li.menu-category.level-4 {
	padding-left: 12px;
	border-left: 1px solid #979797;
	text-transform: none;
}

a.menu-category.active,
a.menu-category.active:hover,
a.menu-category.active:focus {
	color: #D03B24;
	z-index: 2;
	background: #fff;
	border-bottom: 3px double #979797;
}

a.menu-category {
	position: relative;
	width: 100%;
	display: block;
	border: none;
	border-bottom: 1px solid #979797;
	border-left: 1px solid #979797;
	cursor: pointer;
	color: #871C0C;
	text-decoration: none;
	padding: 6px;
	margin: 0;
	transition: 0.3s;
}

a.menu-category:hover {
	box-shadow: 0px 0px 7px #AAA;
}

ul.sub-category {
	margin-left: 7px;
}

ul.sub-category > .menu-category > a {
	border-top: none;
}

.text-centered {
	text-align: center;
	font-size: 14pt;
	padding-top: 12px;
	padding-bottom: 12px;
}

.exit {
	padding-right: 15px;
}

.width-100 {
	width: 100%;
}

.cart-price {
	display: inline-block;
	text-align: right;
}

.form {
	padding-left: 20px;
	padding-right: 20px;
}


.form-group legend {
	font-size: 16px;
	margin-bottom: 5px;
}

.modal-title {
	color: #d03d24;
	text-align: center;
}

a.no-under,
a.no-under:hover,
a.no-under:active {
	text-decoration: none;
}

.info {
	text-align: justify;
}

.good-view-img {
	max-height: 375px;
	max-width: 375px;
	width: 100%;
}

.bg-white {
	padding: 6px;
	display: inline-block;
	background: rgba(255,255,255, 0.5);
}